modules = ["nodejs-20", "web", "postgresql-16"]
run = "yarn run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "yarn run start"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "yarn run build"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 44095423
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "yarn run dev"

[[ports]]
localPort = 5000
externalPort = 80
